html, body {
    height: 2000px;
    width: 100%;
    padding: 25px;
    margin: 0px;
}

/* div {
    background-color: blue;
    height: 125px;
    width: 375px;
    margin: 5px 10px 12px 7px;
    
} */

.some-class div.big-red-box {
    background-color: rgba(255, 0, 0, 0.5);
    height: 500px;
    width: 200px;
}

div .big-red-box {
    background-color: rgba(255, 0, 0, 0.5);
    height: 500px;
    width: 200px;
}

section.relative {
    position: relative;
}

div.big-red-box.my-class {
    border: 5px solid purple;
    border-radius: 25%;
    position: absolute;
    top: 25px;
    /* top: -50px; */
    /* right: 200px;
    bottom: 0px; */
    
}

footer.fixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    height: 50px;
}

div.bigBox {
    height: 800px
}

img.coolPic {
    border-radius: 25%;
}

nav.navbar {
    /* display: inline-block;
     */
    display: flex;
    /* flex-direction: row-reverse; */
}

nav.navbar a {
    padding: 5rem;
}

p.centerme {
    /* float: left; */
    margin: 0 auto;
}

div.my-simple-box {
    /* padding: 35px 25px 15px 25px;
    margin: 30px;
    border: 3px solid purple;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; */
    display: flex;
    justify-content: space-around;
}